a   {
    color: gray;
    font-size: 18px;
}

header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

ol {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}